.projectMembersList {
  /* border: 2px solid black; */
  width: 56%;
}

.projectMembersList > ul {
  list-style: none;
}

.projectMembersList > button {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
