.taskDetails {
  /* border: solid 2px black; */
  position: relative;
  /* overflow: hidden; */
  padding: 3% 10%;
}

.taskDetails_editAndDelete {
  /* border: dotted black 2px; */
  display: flex;
  position: absolute;
  top: 254px;
  right: 41px;
}

.taskDetails_editAndDelete p {
  margin: 2px;
}
