.upperContent {
  /* border: solid 2px black; */
  /* margin: 2px; */
  margin-left: auto;
  margin-right: auto;
}

.upperContent_topHalf {
  /* border: solid 2px black; */
  margin: 2px;
  display: flex;
  justify-content: space-between;
}

.statusAndDeadline {
  /* border: solid 2px black; */
  margin: 2px;
}
