.myLowerContent {
  border: solid 2px green;
}

.myUpperContent_myTopHalf {
  display: flex;
}

.myUpperContent_myTopHalf p {
  margin: 2px 2px;
}

.myLowerContent_myLowerHalf {
  display: flex;
  justify-content: space-between;
}

.myTasksList,
.myTaskDetails {
  width: 50%;
}

#myCreateTask {
  height: 35px;
  position: absolute;
  right: 55%;
}

.myAddMemberBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  border: 4px solid red;
  height: 100vh;
  width: 100%;
  /* padding: 20px; */
  background-color: rgb(0 0 0 / 66%);
  z-index: 10;
  /* pointer-events: none; */
}

.myAddOrCancelMember {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: fit-content;
  padding: 20px;
  border-radius: 13px;
  margin-bottom: 15px;
}

.myAddMemberBackdrop > button {
  position: absolute;
  left: 64%;
  top: 105px;
}

.myCancelTaskForm {
  /* display: block; */
  height: 40px;
  width: 70px;
  font-size: 20px;
}

/* .taskFormContainer {
} */
