.myUpperContent {
  border: solid 2px black;
  margin: 2px;
}

.myUpperContent_myTopHalf {
  border: solid 2px red;
  margin: 2px;
  display: flex;
  justify-content: space-between;
}

.myStatusAndDeadline {
  border: solid 2px black;
  margin: 2px;
}
