@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
#homepageBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  background-color: rgb(6,8,64);
  padding: 180px 0px 180px 0px
  }
#containers {
  display: flex;
  /* border: solid 2px white; */
  text-align: center;
  justify-content: center;
  width: 70%;
  margin: auto;
}
.container {
  display: flex;
  min-width: 130px;
  max-width: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: groove 2px lightgray;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
.containerImg {
  width: auto;
  height: 40px;
  margin: auto;
}
.containerText {
  margin: 5px 0px 5px 0px;
  padding: 0px 5px;
  height: 40px;
  font-weight: 500;
}
#intro {
  width: 1000px;
  text-align: center;
  font-size: 60px;
  font-family: 'Raleway';
  font-weight: 700;
  /* border:solid 1px white; */
  margin: auto;
  padding-bottom: 80px;
}
.fa {
  /* border:2px solid; */
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
footer {
  text-align: center;
  /* border:2px solid; */
  margin: auto;
  padding-top: 100px;
  color: gray;
}
#projectForm {
  width: 50%;
  margin: auto;
}
#projectFormHeader, #logInHeader, #signUpHeader {
  text-align: center;
  padding: 50px;
}

#logInForm, #signUpForm {
  width:20%;
  margin:auto;
}
